<div class="categories_box">
    <div class="box_header">Kategorien</div>
    <div class="box_main">
        <f:if condition="{categories}">
            <f:then>
                <ul>
                <f:for each="{categories}" as="cat">
                    <li>{cat.title}
                    <f:if condition="{cat.children}">
                        <ul class="subcat">
                            <f:for each="{cat.children}" as="child">
                                <li>{child.title}</li>
                            </f:for>
                        </ul>
                    </f:if>
                    </li>
                </f:for>
                </ul>
            </f:then>
            <f:else>Keine Kategorien</f:else>
        </f:if>
    </div>
    <div class="box_footer">&nbsp;</div>
</div>