{namespace nasm=Tx_NasMarket_ViewHelpers}
<f:layout name="default" />

This Template is for showing the market

<f:section name="header">
	<f:render partial="searchBar" arguments="{categories:categories,sStuff:sStuff}" />
<f:flashMessages />    
</f:section>

<f:section name="left">
    <f:render partial="categoryTree" arguments="{categories:categories}" />
</f:section>

<f:section name="main">
    <div class="title">Aktuelle Kleinanzeigen</div>
    <div class="ads">
        <f:if condition="{ads}">
            <f:then>
                <nasm:countedFor each="{ads}" as="ad" length="{settings.previewItems}">
                    <f:render partial="adPreview" arguments="{ad:ad}" />
                </nasm:countedFor>
            </f:then>
            <f:else>
                Keine Anzeigen vorhanden
            </f:else>
        </f:if>
	<div class="clearer">&nbsp;</div>
    </div>
    <div class="clearer">&nbsp;</div>
</f:section>
