<f:layout name="default" />

This Template is for showing the market

<f:section name="header">
<div class="search">
    <div class="titletext">Suchen</div>
    <div class="newbutton">
        <a href="#">Neue Anzeige</a>
    </div>
    <div class="searchline">
        <div class="swords">
            <label for="swords">Was?</label><input type="text" name="swords" />
        </div>
        <div class="swhere">
            <label for="swhere">Wo?</label><input type="text" name="swhere" />
        </div>
        <div class="scat">
            <label for="scat">Kategorie?</label>
            <select name="scat">
                <option value="0">Alle</option>
                <f:for each="{categories}" as="cat">
                    <option value="{cat.uid}">{cat.title}</option>
                </f:for>
            </select>
        </div>
        <a class="button" href="#">Finden</a>
    </div>
</div>
<f:flashMessages />    
</f:section>

<f:section name="left">
    <f:render partial="categories" arguments="{categories:categories}" />
</f:section>

<f:section name="main">
    <div class="title">Aktuelle Kleinanzeigen</div>
    <div class="ads">
        <f:if condition="{ads}">
            <f:then>
                <f:for each="{ads}" as="ad">
                    <f:render partial="adPreview" arguments="{ad:ad}" />
                </f:for>
            </f:then>
            <f:else>
                Keine Anzeigen vorhanden
            </f:else>
        </f:if>
    </div>
</f:section>
