<f:layout name="default" />

This template displays a NEW form for the current domain object.

<f:section name="main">
<h1>New category</h1>

<f:flashMessages />

<f:render partial="formErrors" />

<f:form method="post" action="create" name="newcategory" object="{newcategory}">
	<label for="title"><f:translate key="tx_nasmarket_domain_model_category.title" /></label><br />
	<f:form.textbox property="title" /><br />
	<label for="title"><f:translate key="tx_nasmarket_domain_model_category.description" /></label><br />
	<f:form.textbox property="description" /><br />
	<label for="title"><f:translate key="tx_nasmarket_domain_model_category.image" /></label><br />
	<f:form.textbox property="image" /><br />
	<f:form.submit value="Create new" />
</f:form>
</f:section>