.clearer {
    clear: both;
    line-height: 1px;
    height: 1px;
    font-size: 1px;
}

.tx-nasmarket-pi1 {
}

/*************************************************/
/* header                                        */
.tx-nasmarket-pi1 .header {
    border: 1px solid black;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.tx-nasmarket-pi1 .header .search {
    position: relative;
    height: 52px;
}

.tx-nasmarket-pi1 .header .search .newbutton {
    background-color: #ddd;
    width: 100px;
    height: 20px;
    text-align: center;
    line-height: 1.5;
    
    position: absolute;
    right: 10px;
    top: 1px;
}

.tx-nasmarket-pi1 .header .search .titletext {
    border: 1px solid #ddd;
    width: 100px;
    height: 20px;
    text-align: center;
    line-height: 1.5;
    
    position: absolute;
    left: 10px;
    top: 1px;
}

.tx-nasmarket-pi1 .header .search .searchline {
    display: block;
    position: absolute;
    left: 5px;
    top: 25px;
    
    height: 25px;
    width: 100%;
    
    border-top: 1px solid #ddd;
    padding-top: 5px;
}

.tx-nasmarket-pi1 .header .search .searchline div {
    display: block;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.tx-nasmarket-pi1 .header .search .searchline label {
    margin-right: 5px;
}

.tx-nasmarket-pi1 .header .search .searchline .button {
    background-color: #ddd;
    width: 100px;
    height: 20px;
    text-align: center;
    line-height: 1.5;
    
    display: block;
    float: right;
    margin-right: 14px;
}

.tx-nasmarket-pi1 .header .new_ad {
    position: relative;
    height: 52px;
}

.tx-nasmarket-pi1 .header .new_ad .searchbutton {
    background-color: #ddd;
    width: 100px;
    height: 20px;
    text-align: center;
    line-height: 1.5;
    
    position: absolute;
    left: 10px;
    top: 1px;
}

.tx-nasmarket-pi1 .header .new_ad .titletext {
    border: 1px solid #ddd;
    width: 100px;
    height: 20px;
    text-align: center;
    line-height: 1.5;
    
    position: absolute;
    right: 10px;
    top: 1px;
}

.tx-nasmarket-pi1 .header .new_ad .infotext {
    display: block;
    position: absolute;
    left: 5px;
    top: 25px;
    
    height: 25px;
    width: 100%;
    
    border-top: 1px solid #ddd;
    padding-top: 5px;
}

/*************************************************/
/* left                                          */
.tx-nasmarket-pi1 .left {
    border: 1px solid black;
    display: block;
    float: left;
    width: 150px;
    height: 300px;
}

/* Category-Box */
.tx-nasmarket-pi1 .left .categories_box {
    
}

.tx-nasmarket-pi1 .left .categories_box ul {
    margin: 0;
    list-style: none;
    padding-left: 5px;
}

.tx-nasmarket-pi1 .left .categories_box ul.subcat {
    margin: 0;
    list-style: circle;
    list-style-position: inside;
}

/*************************************************/
/* left-part (new Ad screen)                         */
.tx-nasmarket-pi1 .left_part {
    display: block;
    float: left;
    width: 500px;
}

.tx-nasmarket-pi1 .left_part .title {
    width: 361px;
}

.tx-nasmarket-pi1 .left_part #uploaded_images{
    height: 100px;
}

.tx-nasmarket-pi1 .left_part .upload_button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid black;
    background-color: #ddd;
    width: 150px;
    text-align: center;
}

.tx-nasmarket-pi1 .left_part .upload_button.hover{
    color: #ddd;
    background-color: #000;
}


/*************************************************/
/* right-part (new Ad screen)                         */

.tx-nasmarket-pi1 .right_part {
    display: block;
    float: right;
    width: 250px;
}

.tx-nasmarket-pi1 .right_part h4 {
    margin: 0;
    font-size: 13px;
    margin-bottom: 4px;
}

.tx-nasmarket-pi1 .right_part .price {
    width: 100px;
    text-align: right;
}

/*************************************************/
/* Cat-Boxes (new Ad screen)                         */

.tx-nasmarket-pi1 .main_noleft .firstcat {
    display: block;
    float: left;
    width: 243px;
    height: 100px;
    border: 1px solid black;
    margin-right: 9px;
    padding: 2px;
}

.tx-nasmarket-pi1 .main_noleft .secondcat {
    display: block;
    float: left;
    width: 243px;
    height: 100px;
    border: 1px solid black;
    margin-right: 9px;
    padding: 2px;
}

.tx-nasmarket-pi1 .main_noleft .thirdcat {
    display: block;
    float: left;
    width: 243px;
    height: 100px;
    border: 1px solid black;
    padding: 2px;
}

.tx-nasmarket-pi1 .main_noleft .selected {
    margin-bottom: 5px;
    margin-top: 5px;
}

/*************************************************/
/* main                                          */
.tx-nasmarket-pi1 .main {
    margin-left: 170px;
}

.tx-nasmarket-pi1 .main .ads div {
    border: 1px solid black;
    display: block;
    width: 220px;
    float: left;
    margin-right: 10px;
}

.tx-nasmarket-pi1 .main_noleft label {
    width: 95px;
    display: block;
    float: left;
}

.tx-nasmarket-pi1 .main_noleft a.bigbutton {
    display: block;
    float: right;
    padding: 10px;
    background-color: #ddd;
    border: 1px solid black;
    margin-top: 10px;
}

.tx-nasmarket-pi1 input.checkbox {
    margin-right: 5px;
}

.tx-nasmarket-pi1 input.radio {
    margin-right: 5px;
}

.tx-nasmarket-pi1 #uploaded_images .img_file {
    margin: 5px;
    float: left;
}


/*************************************************/