<f:layout name="default" />

This Template is responsible for creating a table of domain objects.

<f:section name="main">
<h1>Listing for ad</h1>

<f:flashMessages />

<table>
	<tr>
		<th><f:translate key="tx_nasmarket_domain_model_ad.title" /></th>
		<th><f:translate key="tx_nasmarket_domain_model_ad.description" /></th>
		<th><f:translate key="tx_nasmarket_domain_model_ad.images" /></th>
		<th><f:translate key="tx_nasmarket_domain_model_ad.price" /></th>
		<th><f:translate key="tx_nasmarket_domain_model_ad.duraction" /></th>
		<th><f:translate key="tx_nasmarket_domain_model_ad.active" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{ads}" as="ad">
		<tr>
			<td><f:link.action action="show" arguments="{ad : ad}"> {ad.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ad : ad}"> {ad.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ad : ad}"> {ad.images}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ad : ad}"> {ad.price}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ad : ad}"> {ad.duraction}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ad : ad}"> {ad.active}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{ad : ad}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{ad : ad}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New ad</f:link.action>
</f:section>