<f:layout name="noleft" />

<f:section name="header">
<div class="new_ad">
    <div class="titletext">Neue Anzeige</div>
    <div class="searchbutton">
        <f:link.action action="index" controller="Market">Suchen</f:link.action>
    </div>
    <div class="infotext">Kurzer Infotext zu neuen Anzeigen</div>
</div>
<f:flashMessages />    
</f:section>

<f:section name="main">
    <div class="stepinfo">Kategorie wählen</div>
    <div class="selected">Derzeit gewählt: <span class="selected_cats" id="selected_cats">&nbsp;</span></div>
    <div class="clearer">&nbsp;</div>
    <div class="firstcat" id="firstcat">
        <f:for each="{categories}" as="cat">
            <a href="#" onclick="setCat1({cat.uid});return false;">{cat.title}</a><br />
        </f:for>
    </div>
    <div class="secondcat" id="secondcat">
        &nbsp;
    </div>
    <div class="thirdcat" id="thirdcat">
        &nbsp;
    </div>
    <div class="clearer">&nbsp;</div>
    <div class="next">
        <f:form method="post" controller="Ad" action="new2" name="newAd" object="{newAd}">
            <f:form.hidden name="category" value="" id="category" />
            <a href="javascript:document.newAd.submit();" class="bigbutton">Weiter zu den Details &rarr;</a>
        </f:form>
    </div>
</f:section>

