{namespace nasm=Tx_NasMarket_ViewHelpers}
<f:layout name="noleft" />

<f:section name="header">
<div class="new_ad">
    <div class="titletext">Neue Anzeige</div>
    <div class="searchbutton">
        <f:link.action action="index" controller="Market">Suchen</f:link.action>
    </div>
    <div class="infotext">Kurzer Infotext zu neuen Anzeigen</div>
</div>
<f:flashMessages />    
</f:section>

<f:section name="main">
    <script type="text/javascript" src="typo3conf/ext/nas_market/Resources/Public/Scripts/ajaxupload.js"></script>
    <script type="text/javascript">
        $(document).ready( function() {
            var button = $('#upload_button'), interval;
            new AjaxUpload(button,{
		action: '<f:uri.action action="ajaxNewAddImageUpload" controller="Ad" />', 
		name: 'myfile',
		onSubmit : function(file, ext){
			// change button text, when user selects file			
			button.text('Uploading');
			
			// If you want to allow uploading only 1 file at time,
			// you can disable upload button
			this.disable();
			
			// Uploding -> Uploading. -> Uploading...
			interval = window.setInterval(function(){
				var text = button.text();
				if (text.length < 13){
					button.text(text + '.');					
				} else {
					button.text('Uploading');				
				}
			}, 200);
		},
		onComplete: function(file, response){
			button.text('Upload');
						
			window.clearInterval(interval);
						
			// enable upload button
			this.enable();
			
			// add file to the list
			$('<div class="img_file"><img src="uploads/pics/'+file+'" /></div>').appendTo('#uploaded_images .files');
		}
            });
        });
    </script>
    
    <f:form method="post" controller="Ad" action="create" name="newAd" object="{newAd}" id="newAd" class="newAd">
        <label for="category">Kategorie:</label><nasm:format.firstCat cats="{category}" />
        <f:form.hidden name="category" value="{category.0}" />
        <div class="clearer">&nbsp;</div>
        
        <label for="type1">Anzeigentyp:</label>
        <f:form.radio name="type1" value="0" /><f:translate key="tx_nasmarket_domain_model_ad.type1.0" />
        <f:form.radio name="type1" value="0" /><f:translate key="tx_nasmarket_domain_model_ad.type1.1" />
        <div class="clearer">&nbsp;</div>
        <label for="type2">&nbsp;</label>
        <f:form.radio name="type2" value="0" /><f:translate key="tx_nasmarket_domain_model_ad.type2.0" />
        <f:form.radio name="type2" value="0" /><f:translate key="tx_nasmarket_domain_model_ad.type2.1" />
        <div class="clearer">&nbsp;</div>
        
        <label for="title">Titel:</label>
        <f:form.textbox name="title" />
        <div class="clearer">&nbsp;</div>
        
        <label for="description">Beschreibung:</label>
        <f:form.textarea name="description" rows="10" cols="40" />
        <div class="clearer">&nbsp;</div>
        
        <label for="images">Bilder:</label>
        <div id="uploaded_images" class="uploaded_images">
		<div class="files"></div>
	</div>
        <div class="clearer">&nbsp;</div>
        <div id="upload_button" class="upload_button">Upload</div>
      
        <div class="clearer">&nbsp;</div>
    </f:form>
</f:section>