{namespace nasm=Tx_NasMarket_ViewHelpers}
<f:layout name="noleft" />

<f:section name="header">
<div class="new_ad">
    <div class="titletext">Neue Anzeige</div>
    <div class="searchbutton">
        <f:link.action action="index" controller="Market">Suchen</f:link.action>
    </div>
    <div class="infotext">
        <nasm:security.IfNewAdUser>
            <f:then>Du darfst neue Anzeigen erfassen</f:then>
            <f:else>Neue Anzeigen nicht erlaubt</f:else>
        </nasm:security.IfNewAdUser>
    </div>
</div>
<f:flashMessages />    
</f:section>

<f:section name="main">
    <nasm:security.IfNewAdUser>
	<f:then>
	    <script type="text/javascript" src="typo3conf/ext/nas_market/Resources/Public/Scripts/ajaxupload.js"></script>
	    <script type="text/javascript">
	        var maxUploadImages = {settings.maxUploadImages};
    		$(document).ready( function() {
		    var button = $('#upload_button'), interval;
		    new AjaxUpload(button,{
			action: '<f:uri.action action="ajaxNewAddImageUpload" controller="Ad" />', 
			name: 'myfile',
			onSubmit : function(file, ext){
				// change button text, when user selects file			
				button.text('Uploading');
				
				// If you want to allow uploading only 1 file at time,
				// you can disable upload button
				this.disable();
				
				// Uploding -> Uploading. -> Uploading...
				interval = window.setInterval(function(){
					var text = button.text();
					if (text.length < 13){
						button.text(text + '.');					
					} else {
						button.text('Uploading');				
					}
				}, 200);
			},
			onComplete: function(file, response){
				button.text('Upload');
				window.clearInterval(interval);
			
				// enable upload button
				this.enable();
				
				// add file to the list
				if (response == 'error_toobig') {
				    alert ('File too big');
				} else  if (response == 'error') {
				    alert ('Error Uploading File');
				} else {
				    $('<div class="img_file"><img src="'+response+'" /></div>').appendTo('#uploaded_images');
				}
				
				//make a count up
				img_cont = document.getElementById('uploaded_images');
				images = img_cont.getElementsByTagName('div');
				counter = images.length;
				
				if (counter >= maxUploadImages){
				    button.text('max Uploads reached');
				    this.disable();
				}
			}
		    });
		});
	    </script>
	    
	    <f:form method="post" controller="Ad" action="create" name="newAd" object="{newAd}" id="newAd" class="newAd">
		<label for="category">Kategorie:</label><nasm:format.firstCat cats="{category}" />
		<f:form.hidden name="category" value="{category.0}" />
		<div class="clearer">&nbsp;</div>
		
		<div class="right_part">
		    <h4>Einstellungen</h4>
		    <f:form.checkbox name="different_location" id="different_location" onclick="toggleDLFields();"/><f:translate key="tx_nasmarket_domain_model_ad.different_location" />
		    <div class="dl_part">
			<label for="dl_address">Strasse:</label><f:form.textbox id="dl_address" name="dl_address" disabled="disabled"/>
			<div class="clearer">&nbsp;</div>
			<label for="dl_zip">PLZ:</label><f:form.textbox id="dl_zip" name="dl_zip" disabled="disabled"/>
			<div class="clearer">&nbsp;</div>
			<label for="dl_city">Stadt:</label><f:form.textbox id="dl_city" name="dl_city" disabled="disabled"/>
			<div class="clearer">&nbsp;</div>
			<label for="dl_country">Land:</label><f:form.textbox id="dl_country" name="dl_country" disabled="disabled"/>
			<div class="clearer">&nbsp;</div>
		    </div>
		    <p>
			<f:form.checkbox name="show_phone"/>Telefonnummer anzeigen<br />
			<f:form.checkbox name="show_email"/>Email-Adresse anzeigen
		    </p>
		    <p>
			<h4>Laufzeit</h4>
			<f:form.radio name="duration" value="14" />14 <f:translate key="tx_nasmarket_domain_model_ad.duration_days" />
			<f:form.radio name="duration" value="30" />30 <f:translate key="tx_nasmarket_domain_model_ad.duration_days" />
			<f:form.radio name="duration" value="60" />60 <f:translate key="tx_nasmarket_domain_model_ad.duration_days" />
		    </p>
		    <p>
			<h4>Preis</h4>
			<label for="pricetype">Preistyp:</label>
			<f:form.radio name="pricetype" value="0" /><f:translate key="tx_nasmarket_domain_model_ad.pricetype.0" />
			<f:form.radio name="pricetype" value="1" /><f:translate key="tx_nasmarket_domain_model_ad.pricetype.1" />
			<div class="clearer">&nbsp;</div>
			<label for="price">Preis:</label>
			<f:form.textbox name="price" class="price"/>&nbsp;&euro;
			<div class="clearer">&nbsp;</div>
		    </p>
		</div>
		<div class="left_part">
		    <label for="type1">Anzeigentyp:</label>
		    <f:form.radio name="type1" value="0" /><f:translate key="tx_nasmarket_domain_model_ad.type1.0" />
		    <f:form.radio name="type1" value="1" /><f:translate key="tx_nasmarket_domain_model_ad.type1.1" />
		    <div class="clearer">&nbsp;</div>
		    <label for="type2">&nbsp;</label>
		    <f:form.radio name="type2" value="0" /><f:translate key="tx_nasmarket_domain_model_ad.type2.0" />
		    <f:form.radio name="type2" value="1" /><f:translate key="tx_nasmarket_domain_model_ad.type2.1" />
		    <div class="clearer">&nbsp;</div>
		    
		    <label for="title">Titel:</label>
		    <f:form.textbox name="title" class="title"/>
		    <div class="clearer">&nbsp;</div>
		    
		    <label for="description">Beschreibung:</label>
		    <f:form.textarea name="description" rows="10" cols="54" />
		    <div class="clearer">&nbsp;</div>
		    
		    <label for="images">Bilder:</label>
		    <div id="uploaded_images" class="uploaded_images">
			(maximal {settings.maxUploadImages} Stück / maximal {settings.maxUploadImageSize} KB)<br />
		    </div>
		    <div class="clearer">&nbsp;</div>
		    <div id="upload_button" class="upload_button">Upload</div>
		</div>	      
		<div class="clearer">&nbsp;</div>
		<a href="javascript:document.newAd.submit();" class="bigbutton">Anzeige aufgeben</a>
		<f:form.checkbox name="disclaimer" /> Disclaimer
		<div class="clearer">&nbsp;</div>
	    </f:form>
	</f:then>
	<f:else>
	    Bitte erst einloggen!
	</f:else>
    </nasm:security.IfNewAdUser>
</f:section>